ENV=DEV

HOST=https://my-smart-vocabulary-api.onrender.com

# Redux 
REDUX_KEY=BOILERPLATEKEY

# Storage Version
STORAGE_VERSION=1

FIREBASE_WEB_CLIENT_ID=
FIREBASE_IOS_CLIENT_ID=

# Sentry
SENTRY_DNS=SENTRY_DNS