<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081291759389-2q8bkqk4gtffgi6eusjoruq31jrslkbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081291759389-2q8bkqk4gtffgi6eusjoruq31jrslkbr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081291759389-61qhpkd6firk6tem3o26div9kifnsut7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT1LS4i70THldts2ndDI4w_uGb1BTgAUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081291759389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysmartvocabulary</string>
	<key>PROJECT_ID</key>
	<string>my-smart-vocabulary</string>
	<key>STORAGE_BUCKET</key>
	<string>my-smart-vocabulary.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081291759389:ios:d18b26f57d03eae2e8cbf4</string>
</dict>
</plist>